<div class="container" style="height: 100vh;">
    <div class="row d-flex align-items-center justify-content-center h-100 text-center">
        <div class="row">
            <div class="col-sm-12">
                Page Not Found !!
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <button class="btn btn-primary" routerLink="/home">
                    Go to Home Page
                </button>
            </div>
        </div>
    </div>
</div>