<div class="container">
    <router-outlet></router-outlet> 
    <nav class="navbar navbar-expand-lg navbar-light bg-dark">
        <!-- <a class="navbar-brand" href="#">Navbar</a> -->
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
      
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
              <a class="nav-link text-white" href="javascript:void(0)" routerLink="/home">Table <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
              <a class="nav-link text-white" href="javascript.void(0)" routerLink="/reactive-form">Form Example</a>
            </li>
          </ul>
          <form class="form-inline my-2 my-lg-0">
            <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
          </form>
        </div>
      </nav>

<table border="1">
    <thead>
        <tr>
            <th>S.N</th>
            <th>Id</th>
            <th>Name</th>
            <th>Address</th>
            <th>Age</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let data of tableData; let i = index;">
            <td>{{i + 1}}</td>
            <td>{{data.id}}</td>
            <td>{{data.name}}</td>
            <td>{{data.address}}</td>
            <td>{{data.age}}</td>
            <td>
                <input type="button" (click)="onDetailView(data.id, data.name, data.address, data.age)" value="edit" />
            </td>
        </tr>
    </tbody>
</table>
</div>